* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5bb3b3;
    position: relative;
    margin: 0;
}

.vystup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 150px 0;
    padding: 15px 40px 15px 40px;
    width: 800px;
    border-radius: 15px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 500;
    background-color: white;
}

 p, a {
    color: #a23807;
    text-decoration: none;
    margin: 20px auto;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}

a {
    border: 1px solid  #1db1eb;
    padding: 5px;
}

a:hover{
    border-bottom: 3px solid #217799;
}