* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

#container {
    width: 1200px;
    margin: 0px auto;
}

h1 {
    color: #603623;
    margin: 20px 100px 20px 100px;
    padding: 0px 50px 0px 50px;
    text-align: center;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h2 {
    color: #603623;
    margin: 0px 100px 20px 100px;
    padding: 0px 50px 0px 50px;
    text-align: center;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

img {
    display: block;
    margin: 20px auto;
    margin-bottom: 60px;
    padding: 20px auto;
    width: 600px;
}

.odstavec {
    text-align: justify;
    margin: 80px 100px 40px 130px;
    padding: 0px 20px 0px 20px;
    width: 930px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 500;
    background-color: #b898823d;
    border-radius: 10px;
}

p, a {
    color: #a23807;
    text-decoration: none;
    margin: 20px auto;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    border: 1px solid  #1db1eb;
    padding: 5px;
}

a:hover{
    border-bottom: 3px solid #217799;
    text-align: center;
}

.vystup {
    display: block;
    margin: 80px 100px 60px 130px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}